/*html{
    height : 100%;
    margin:0px;
    background: linear-gradient(to top right, grey,white,white,white,white, white); /* url(RGB_Bck.png) no-repeat center center; 
    background-size: cover;
    background-attachment: fixed
}*/
h1,h2,h3,h4,h5{ margin: 0px; } 

.center-align img{
    width: auto !important;
    height: 100px !important;
}


header, main, footer {
    padding-left: 255px;
}
.sidenav{
    width: 255px;
    overflow: hidden !important;
}
.sidenav:hover{
    overflow: auto !important;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}